:root {
  --branding-color: #416bd4;
  --primary-color: #fcffde;
  --other-color: #f9c21b;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-family: var(--branding-font-family);
  font-size: 20px;
}

.hero h1 {
  color: var(--other-color);
  font-size: 100px;
  font-weight: 500;
  margin-top: 130px;
}

.hero {
  padding: 60px 20px;
  margin-left: 30px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  color: var(--other-color);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero .btn-branding {
  background: var(--other-color);
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero .btn-branding:hover {
  color: var(--branding-color);
  background: white;
}

header {
  background-image: url("../images/header.png");
  background-size: cover;
}

h2,
h3,
h4,
h5,
h6 {
  color: black;
}

footer h3 {
  font-size: 36px;
  text-align: left;
  color: var(--primary-color);
}
footer p {
  text-align: left;
}

footer .contact-box {
  background: var(--other-color);
  padding: 30px;
  border-radius: 30px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--branding-color);
  padding: 10px 14px;
  font-size: 19px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--other-color);
}

footer .btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer .btn-branding:hover {
  color: var(--branding-color);
  background: white;
}

section h2 {
  font-size: 50px;
}

section p {
  line-height: 1.5;
  font-size: 25px;
}

section .btn-branding-outline,
.about-me .btn-branding-outline {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 19px;
  transition: all 200ms ease-in-out;
  border: 1px solid var(--branding-color);
  color: snow;
  background: var(--branding-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section .btn-branding-outline:hover,
.about-me .btn-branding-outline:hover {
  color: var(--branding-color) !important;
  background: white;
  border: 1px solid var(--branding-color);
}

.grid {
  display: grid;
}
.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px;
  align-items: center;
  justify-content: center;
}

.content e-mail {
  background: none;
  color: black;
  border-radius: none;
  padding: none;
}

.active {
  color: var(--branding-color) !important;
}

.ml-5 {
  margin-left: 20px !important;
}

.tech-used {
  font-weight: bold;
}

section.about-me {
  margin: 30px auto 15px;
}

p.about-me-summary {
  font-size: 18px;
  line-height: 1.5;
}

.about-me img {
  border-radius: 30px;
}

@media (max-width: 960px) {
  .hero {
    padding: 70px 20px;
  }

  .hero h1 {
    font-size: 80px;
    line-height: 1;
  }

  .hero h2 {
    font-size: 20px;
  }
  .content h1 {
    font-size: 40px;
  }
  footer h3 {
    font-size: 25px;
  }
  footer .btn-branding {
    font-size: 12px;
  }

  footer .email-link {
    padding: 0;
    margin: 0;
  }

  .tech-used {
    font-size: 20px;
  }

  .headshot {
    display: none;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .grid img {
    display: none;
  }
}
